.venv
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.DS_Store
.env
.env.*
.pyright/
marsfill.egg-info/
dist/
app.log
datasets/
datasets
outputs/
.env
data/
Miniconda3-latest-Linux-x86_64.sh
condaenv.5r9463_e.requirements.txt
htmlcov
.coverage
